body {
  font-family: Roboto;
}

code {
  background-color: #fdf6e3;
  color: #586e75;
}
.bold{
  font-weight: bold;
}

body {
  font-family: Roboto;
}

#dialog {
  background-color: #f8f8f8;
  color: #586e75;
  margin:5px;
  width: 98%;
  height: 98%;
  position: absolute;
  /*top: 10%;*/
  /*left: 10%;*/
  z-index: 100;
  /*display: none;*/
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(190, 190, 190);
  
}

#dialogContent{
  /*display: table-row;*/
  width: 100%;
  height: 94%;
  overflow: auto;
}


#dialogContent::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#dialogContent::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#dialogContent::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #9e9e9e;
}




 
#dialogHeader{
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  box-shadow: 0 4px 10px -2px rgb(190, 190, 190);
  font-family: Arial, Helvetica, sans-serif;
}

#closebtn{
  right: 0;
  top:0;
  background-color: rgb(255, 139, 139);
  color: white;
  padding: 10px;
  border-top-right-radius: 15px;
  flex-grow: 1;
  text-align: center;
  font-weight: bold;
}

#titleHeader{
  flex-grow: 11;
  padding: 10px;
  border-top-left-radius: 15px;
  font-weight: bold;
}


.loader {
  margin: auto;
  border: 16px solid #ffffff;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

.mentionBox{
  margin: 5px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(190, 190, 190);
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.imagenUsuario{
  width: 50px;
  height: 50px;
  border: solid 1px rgb(204, 204, 204);
  box-shadow: 0 0 5px rgb(190, 190, 190);
  border-radius: 100px;
}

.imageMentionBox{
  width: 150px;
  text-align: center;
  padding: 0px;
}

.metionFooterText{
  max-height: 200px;
  padding: 5px;
  white-space: normal; 
  overflow: hidden;
  text-overflow: ellipsis; 
  overflow: auto;
}

.metionFooterText{
  padding: 5px;
}

.float{
  float: left;
}

.date{
  color: dimgrey;
  font-size: 11px;
  padding: 2px;
  margin: 2px;
}


.mentionDescription::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.mentionDescription::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

.mentionDescription::-webkit-scrollbar-thumb
{
  border-radius: 12px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #9e9e9e;
}

p{
  padding: 0;
  margin: 3px;
}

.term{
  background-color: dodgerblue;
  padding: 2px;
  color: white;
  font-size: 11px;
  margin: 2px;
  border-radius: 10px;
}